
<div class="navbars">

  {{#if loggeduser}}
  <div class="logout">
    <a href="/logout">logout</a>
  </div>
  <div class="edit-profile">
    <a href="/profile/edit">edit profile</a>
  </div>
  <div class="mission">
    <a href="/mission">our mission</a>
  </div>
  <div class="more">
    <a href="/more">more stuff</a>
  </div>


  {{else}}


  <div class="login">
    <a href="/login">login</a>
  </div>
  <div class="registration">
    <a href="/registration">register</a>
  </div>
  <div class="mission">
    <a href="/mission">our mission</a>
  </div>
  <div class="more">
    <a href="/more">more stuff</a>
  </div>

  {{/if}}

</div>
