

  <div class="view">
    <img src="/imgs/face.png" alt="logo">

    <div class="box-mission">
      <h1>OUR MISSION:</h1>
    </div>
      <h2>We want join forces to introduce insects to Western diet,<br> and help improve the environment</h2>

      <h4>say yes, to eat bugs! They are really DELICIOUS</h4>

    </div>
