

  <div class="view">
    <img src="/imgs/face.png" alt="logo">
		<h1>here's a few things you might want to read on!</h1>
    <div class="box-style">
      <h2>what is ENTOMOPHAGY?</h2>
    </div>
    <h4>describes the practice of eating insects by humans.</h4>
    <div class="box-style">
      <h2>top edible insects species</h2>
      <img src="/imgs/info.png" alt="">
    </div>

  </div>
